<div>
    <h1>À propos</h1>
    <p class="w-50">
    Lors de la création du contenu de notre blog Posters nous avons fait le choix d'expérimenter les capacités des intelligences artificielles à réaliser du contenu réaliste. Ce contenu apparaît comme créé par un humain. Ainsi pour chaque affiche générée, nous avons utilisé l’IA Midjourney, et nous lui avons demandé d'utiliser le style graphique “pastel artwork” puis nous avons ajouté la description “affiche de film” et inséré un genre cinématographique pour implémenter notre travail.
    Puis lors de la construction de nos descriptions de film, nous avons choisi d’utiliser Chatgpt qui grâce à une description de l’univers représenté dans l’affiche, tel que “synopsis de film d’action avec des voitures”, nous permettait de développer un synopsis rapidement, qui correspond parfaitement avec l’univers mis en place dans l’image.
    </p>
</div>
